/nbproject/
/build/
/JavaProject1/nbproject/private/
/JavaAssignment/Online Order Management System/nbproject/private/
/JavaAssignment/Online Order Management System/build/
/JavaProject1/build/
/JavaApplication63/nbproject/private/
/JavaApplication63/build/
/RTSassignmnet/nbproject/private/
/JavaProject1/dist/